html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  background-color: #FFF;
}

section {
  align-items: center;
  display: flex;
  height: 600px;
  justify-content: center;
}

button {
  background-color: #E5B6D5;
  border-color: #B2479A #CC7FB5 #B2479A #CC7FB5;
  border-style: solid;
  border-width: 10px;
  color: #FFF;
  font-size: 3vw;
  font-weight: 700;
  height: 20%;
  letter-spacing: 0.15em;
  width: 25%;
}

button:hover {
  background-color: #B2479A;
  border-color: #CC7FB5 #E5B6D5 #CC7FB5 #E5B6D5;
}

.random {
  margin-right: 40px;
}

.reset {
  margin-left: 40px;
}

@media screen and (max-width: 700px) {
  section {
    flex-direction: column;
    justify-content: space-around;
  }

  button {
    font-size: 5vw;
    width: 70%;
  }

  .random {
    height: 25%;
    margin: 80px 0 -180px 0;
  }

  .reset {
    height: 10%;
    margin-left: 0;
  }
}
