html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  background-color: #FFF;
}

section {
  display: flex;
  justify-content: center;
  height: 600px;
  align-items: center;
}

button {
  background-color: #E5B6D5;
  border-width: 10px;
  border-style: solid;
  border-color: #B2479A #CC7FB5 #B2479A #CC7FB5;
  color: #FFF;
  font-size: 150%;
  font-weight: 700;
  letter-spacing: 0.2em;
  width: 15%;
  height: 20%;
}

button:hover {
  background-color: #B2479A;
  border-color: #CC7FB5 #E5B6D5 #CC7FB5 #E5B6D5;
}

.random {
  margin-right: 40px;
}

.reset {
  margin-left: 40px;
}
